<p id="notice"><%= notice %></p>

<h1>People</h1>

<%= render 'list', people: @people %>

<% if !person_signed_in? %>
        <%= link_to "Log in", person_session_path, :method => :post %>   
<% end %>

<br>

<%= link_to 'New Person', new_person_path %>
